<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Sistema de Cadastro de Fornecedores e Produtos</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Início</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <!-- Fornecedores -->
                <li class="nav-item">
                    <a class="nav-link" href="/fornecedor/fornecedores/listar">Listar Fornecedores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/fornecedor/fornecedores/cadastrar">Cadastrar Fornecedor</a>
                </li>
                <!-- Produtos -->
                <li class="nav-item">
                    <a class="nav-link" href="/produto/produtos/listar">Listar Produtos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/produto/produtos/cadastrar">Cadastrar Produto</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Conteúdo Principal -->
    <div class="container mt-4">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Scripts do Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
